doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Zoo
    body 
        header 
            nav
                ul
                    li zoo
                    li contact 
                    li team 
                    li clients 
                ul
                    li projects
                    li tous
        main 
            article 
                img(src="https://source.unsplash.com/random/450x450", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x451", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x452", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x453", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x454", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x455", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x456", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x457", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x458", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x459", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x460", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x461", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x462", alt="")
                div
                    h3 Moco Montpellier Contemporain
            article 
                img(src="https://source.unsplash.com/random/450x463", alt="")
                div
                    h3 Moco Montpellier Contemporain                